<main>
  <header>
    <h1>Buttons</h1>
    <div class="theme-toggle">
      <label for="theme-checkbox" class="theme-switch">
        <input type="checkbox" name="theme-checkbox" id="theme-checkbox"/>
        <span class="theme-slider"></span>
        Dark Theme
      </label>
      
    </div>
  </header>
  <section class="row">
    <article>
      <code>&lt;button-component /></code>
      <button-component />
    </article>
  
    <article>
      <code>&lt;button-component disabled /></code>
      <button-component value="Disabled" disabled/>
    </article>
  
    <article>
      <code>&lt;button-component value="Text" /></code>
      <button-component color="primary" value="Text" />
    </article>
  
    <article>
      <code>&lt;button-component disableShadow /></code>
      <button-component color="primary" disableShadow/>
    </article>
  </section>
  
  <section class="row">
    <article>
      <code>&lt;button-component size="sm"/></code>
      <button-component color="primary" size="sm" />
    </article>
  
    <article>
      <code>&lt;button-component size="md" /></code>
      <button-component color="primary" size="md"/>
    </article>
  
    <article>
      <code>&lt;button-component size="lg" /></code>
      <button-component color="primary" size="lg" />
    </article>
  </section>
  
  <section class="row">
    <article>
      <code>&lt;button-component startIcon="local_mall"/></code>
      <button-component color="primary" startIcon="local_mall" />
    </article>
  
    <article>
      <code>&lt;button-component endIcon="local_mall" /></code>
      <button-component color="primary" endIcon="local_mall"/>
    </article>
  </section>
  
  <section class="row">
    <article>
      <code>&lt;button-component color="default" /></code>
      <button-component color="default"/>
    </article>
  
    <article>
      <code>&lt;button-component color="primary" /></code>
      <button-component color="primary" value="Primary" />
    </article>
  
    <article>
      <code>&lt;button-component color="secondary" /></code>
      <button-component color="secondary" value="Secondary" />
    </article>
  
    <article>
      <code>&lt;button-component color="danger" /></code>
      <button-component color="danger" value="Danger" />
    </article>
  </section>
  
  <section class="col">
    <code>&lt;button-component variant="outlined" .../></code>
  
    <article class="row">
      <button-component variant="outlined" disableShadow/>
      <button-component color="primary" value="Primary" variant="outlined" disableShadow />
      <button-component color="secondary" value="Secondary" variant="outlined" disableShadow />
      <button-component color="danger" value="Danger" variant="outlined" disableShadow />
    </article>
  </section>
  
  <section class="col">
    <code>&lt;button-component variant="text" .../></code>
  
    <article class="row">
      <button-component variant="text" disableShadow/>
      <button-component color="primary" value="Primary" variant="text" disableShadow />
      <button-component color="secondary" value="Secondary" variant="text" disableShadow />
      <button-component color="danger" value="Danger" variant="text" disableShadow />
    </article>
  </section>

  <p class="copyrights">
    created by <a href="https://github.com/pedrorxmos/button-component-challenge" target="_blank">pedrorxmos</a> - devChallenges.io
  </p>
</main>
