@import '../../../scss/variables';

button {
  background: var(--default);
  color: $black;
  border: none;
  box-shadow: 0px 2px 3px var(--shadow);
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background .3s;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;

  &:hover, &:focus {
    background: var(--default-dark);
  }

  .icon {
    font-size: 14px;
    font-weight: inherit;
  }

  &.default {
    background: var(--default);
    color: $black;

    &:hover, &:focus {
      background: var(--default-dark);
    }
  }

  &.primary {
    background: var(--primary);
    color: $white;

    &:hover, &:focus {
      background: var(--primary-dark);
    }
  }

  &.secondary {
    background: var(--secondary);
    color: $white;

    &:hover, &:focus {
      background: var(--secondary-dark);
    }
  }

  &.danger {
    background: var(--danger);
    color: $white;

    &:hover, &:focus {
      background: var(--danger-dark);
    }
  }

  &.no-shadow {
    box-shadow: none;
  }

  &.outlined {
    background-color: transparent;
    border: 1px solid var(--text);
    color: var(--text);

    &:hover, &:focus {
      background: var(--default);
    }

    &.default {
      border-color: var(--text);
      color: var(--text);

      &:hover, &:focus {
        background: var(--default);
      }
    }
  
    &.primary {
      border-color: var(--primary);
      color: var(--primary);

      &:hover, &:focus {
        background: var(--primary-o10);
      }
    }
  
    &.secondary {
      border-color: var(--secondary);
      color: var(--secondary);

      &:hover, &:focus {
        background: var(--secondary-o10);
      }
    }
  
    &.danger {
      border-color: var(--danger);
      color: var(--danger);

      &:hover, &:focus {
        background: var(--danger-o10);
      }
    }
  }

  &.text {
    background-color: transparent;
    color: var(--text);

    &:hover, &:focus {
      background: var(--default);
    }

    &.default {
      color: var(--text);

      &:hover, &:focus {
        background: var(--default);
      }
    }
  
    &.primary {
      color: var(--primary);

      &:hover, &:focus {
        background: var(--primary-o10);
      }
    }
  
    &.secondary {
      color: var(--secondary);

      &:hover, &:focus {
        background: var(--secondary-o10);
      }
    }
  
    &.danger {
      color: var(--danger);

      &:hover, &:focus {
        background: var(--danger-o10);
      }
    }
  }

  &.sm {
    padding: 6px 12px;
  }

  &.md {
    padding: 8px 16px;
  }

  &.lg {
    padding: 11px 22px;
  }
}