$font-family: 'Noto Sans JP';
$white: #fbfbfb;
$black: #101011;

:root, :root.light {
  --default: #E0E0E0;
  --primary: #2962FF;
  --secondary: #455A64;
  --danger: #D32F2F;

  --bg: #fbfbfb;
  --text: #101011;
}

:root.dark {
  --default: #c0c0c0;
  --primary: #507bef;
  --secondary: #485359;
  --danger: #bf4444;

  --bg: #121723;
  --text: #ededf1;
}

$shadow: var(--bg);